<style>
  /* Inline styles for the navigation bar */

</style>
<header>
  <div class="logo">
    <a href="/"><img id="logoImage" src="./images/indexLogo.png" alt="Logo"></a> <!-- Replace with your logo path -->
  </div>
  <nav>
    <ul id="navigatorUl">
      <li class="navigatorItem"><a href="/">Home</a></li>
      <li class="navigatorItem"><a href="/products">Products</a></li>
      <li class="navigatorItem"><a href="/cart">Cart</a></li>
      <li class="navigatorItem"><a href="/contactUs">Contact Us</a></li>
    </ul>
  </nav>