<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Something went wrong</h2>
    <h3>Details:</h3>
    <h4>Error Name: <%= error.name %></h4>
    <h4>Error message: <%= error.message %></h4>
    <h4>Error stack: <%= error.stack %></h4>


</body>
</html>