<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Store</title>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

  <div class="container">
    <h2>Login</h2>
    <% 
    // Set a default value if redirectUrl is not defined
    const resolvedRedirectUrl = typeof redirectUrl !== 'undefined' ? redirectUrl : '/users/profile';
  %>
    <form action="/users/login?redirectUrl=<%= resolvedRedirectUrl %>" method="POST">

      <% 
      const email = typeof oldData !== 'undefined' ? oldData.email : '';
      const password = typeof oldData !== 'undefined' ? oldData.password : '';

    %>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required value=<%= email %>>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required value=<%= password %>>

      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/users/register">Register here</a></p>
    <!-- Error message -->
    <% 
    const loginError_ = typeof loginError !== 'undefined' ? loginError : false;
  %>
    <% if(loginError_){%>
      <p class="error-message show">Wrong username or password</p>
      <% } %>
  </div>
</body>

</html>